*

!app/
!models/
!poetry.lock
!poetry.toml
!pyproject.toml

.DS_Store

.gitkeep
venv/
.venv/
.poetry_cache/

/data/**
/reports/**
/notebooks/**

.git/
.idea
**/__pycache__
.ipynb_checkpoints
.vscode/
.coverage
.cache
**/.pytest_cache
**/*.html
.env
