MLFLOW_BACKEND_STORE_URI="file:///mlruns"
MLFLOW_ARTIFACTS_DESTINATION="file:///mlruns/artifacts"

RANDOM_STATE=42
MLFLOW_TRACKING_URI="http://localhost:5001"
MLFLOW_PORT=5100

# Kaggle configuration
KAGGLE_CONFIG_DIR=".kaggle"
KAGGLE_FILES_DIR="./data/raw"
KAGGLE_DATASET="preetviradiya/brian-tumor-dataset"